header{
  color: #fff;
  background-image: url(../images/Header-Background-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 30px 90px 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

header .titulo{
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
}

header p {
  font-size: 1rem;
  opacity: 0.8;
}

header nav{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header nav button{
  padding: 15px 50px;
  border-radius: 25px;
  border: none;
  text-align: center;
}

header nav .btn-download{
  background-color: #fff;
}

header nav .btn-discord{
  background-color: #23272A;
}

header nav button .link-download{
  color: #000;
}
header nav button .link-discord{
  color: #fff;
}

@media screen and (min-width: 1024px){
  header{
    background-image: url(../images/Header-Background-desktop.png);
    justify-content: center;
    align-items: center;
  }
  header .titulo{
    font-size: 3.5rem;
    text-align: center;
  }

  header p{
    max-width: 800px;
  }


  header p{
    text-align: center;
  }

  header nav{
    flex-direction: row;
    justify-content: center;
  }
}