main section{
  color: #23272A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;

}

main section .details .subtitulo {
  font-family: "Luckiest Guy", cursive;
  font-size: 1.75rem;
}

main section .details{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main section .details h2{
  font-size: 1.5rem;
  font-weight: 800;
}

main section .details p{
  color: #23272A;
  text-align: left;
}

main section h1{
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
}

@media screen and (min-width: 1024px){
  main section{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  
  main .discord-collaboration .details,
  main .voice-channel-convenience .details,
  main .moderation-tools .details{
    max-width: 350px;
  }

  main .voice-channel-convenience{
    flex-direction: row-reverse;
  }

 
  main .low-latency-communication{
    flex-direction: column;
    max-width: 880px;
    margin: 0 auto;
  }

  main section .details .subtitulo{
    text-align: center;
    font-weight: normal;
    font-size: 2.5rem;
  }
  
  main section .details h2{
    font-size: 2.5rem;
  }

  main .low-latency-communication .details p{
    text-align: center;
  }


}